.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid coral;
  border-radius: 40px;
  padding: 20px;
  background-color: mediumaquamarine;
}
.todolist-empty {
  border: 2px solid hotpink;
  border-radius: 40px;
  padding: 20px;
  background-color: palevioletred;
}

